<!DOCTYPE html>
<html>
<head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href= "/"> Inicio </a>
<a href= http://localhost:3000/quizzes> Quizzes</a>
<h1><%= title %></h1>
<p>Carlos Gurucharri Aristi</p>
<p>Paula Diaz Banet</p>
</body>
</html>