<!DOCTYPE html>
<html>
<head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href= "/"> Inicio </a>
<a href= http://localhost:3000/quizzes> Quizzes</a>
<h1><%= title %></h1>
<p>Eduardo Carrera Zavala</p>
<p>Irene Bas González</p>
</body>
</html>